* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-transform: uppercase;
}

h2 {
  color: gray;
  text-align: center;

  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 1%;
}

h4 {
  text-align: center;
  text-transform: uppercase;
}

b {
  color: rgb(66, 66, 66);
}

span {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

header {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: #727272;
}

.container {
  margin: 0 auto;
  padding: 0.1%;
}

.main {
  display: flex;
  justify-content: center;
  padding: 0 15%;
  margin: auto;

  width: 100%;
}

.main-container {
  margin: auto;
  width: 100%;

  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

.nav-list {
  display: flex;
  justify-content: center;

  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.nav-link {
  align-items: center;
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  padding: 10px 20px;

  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s linear;
}

.nav-link:hover {
  background-color: #3f3f3f;
}

.nav-link:active {
  background-color: #3f3f3f;
}

.title-section {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 50px;

  border-bottom: 5px solid #727272;
  border-radius: 7%;
}

.fio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
img {
  /* width: 400px;
  height: 364px; */
  object-fit: none;
  padding: 10px;

  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contacts {
  padding: 20px;
}

.list-contacts {
  list-style: none;
  border-radius: 6px;

  width: 100%;
  padding: 10px;

  margin: 5px auto;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

a {
  color: #727272;
}

.list-contacts a:hover {
  color: black;
}

.all-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 3% 5%;
  margin: 0 a;
}

.sections {
  width: calc(49%);
  border-radius: 13em 0.5em/1em 0.5em;
  flex-wrap: nowrap;

  margin: 1 auto;
  padding: 3%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
}

.code {
  font-size: 12px;
  letter-spacing: -1.3px;
}

.btn {
  width: 120px;
  height: 30px;
  border-color: #eb7d4b;
  border-radius: 4px;
  border: transparent;
  background-color: gray;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.2s linear;
}
.btn:hover {
  background-color: #3f3f3f;
}

.button {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 0 5px;

  padding: 0 auto;
  color: #fff;
  background-color: #727272;
}

footer.a {
  color: #fff;
  top: 0;
}

.copyright {
  text-align: left;
  margin: auto 1px;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url(./assets/svg/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
